.grid-detected {
  border: 1px solid #0ac;
  font-size: 2vw;
  height: 99%;
  left: 0;
  list-style: none;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: scroll;
  position: fixed;
  width: 75vw;
}

.grid-unknown {
  border: 1px solid #0ac;
  font-size: 1vw;
  height: 99%;
  left: 76vw;
  list-style: none;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: scroll;
  position: fixed;
  width: 23vw;
}

.grid-detected .grid-item {
  padding-top: 0.5vw;
  padding-left: 0.5vw;
}

.grid-detected .grid-photo {
  width: 36vw;
}

.grid-detected .grid-thermal {
  position: absolute;
  width: 10vw;
}

.grid-detected .grid-name {
  background-color: #456;
  margin-bottom: 1vw;
  width: 36vw;
}

.grid-unknown .grid-item {
  padding-top: 0.5vw;
  padding-left: 0.5vw;
}

.grid-unknown .grid-photo {
  width: 10vw;
}

.grid-unknown .grid-thermal {
  position: absolute;
  visibility: hidden;
  width: 5vw;
}

.grid-unknown .grid-name {
  background-color: #456;
  margin-bottom: 0.5vw;
  width: 10vw;
}
