* {
  margin: 0;
  padding: 0;
}

html {
  background: #111;
  color: #eee;
  font-family: Menlo, Noto Mono;
}

div {
  display: block;
}

a {
  color: #fff;
  text-decoration: none;
}

footer {
  height: 50px;
}

.person-detected {
  border: 1px solid #0ac;
  font-size: 2vw;
  height: 100%;
  left: 0;
  list-style: none;
  position: fixed;
  text-align: center;
  width: 74%;
}

.person-unknown {
  border: 1px solid #0ac;
  font-size: 1vw;
  height: 100%;
  left: 75%;
  list-style: none;
  position: fixed;
  text-align: center;
  width: 24%;
}

.person-item {
  width: 45%;
  padding: 0.5em;
  float: left;
}

.person-photo {
  width: 80%;
}

.text_normal {
  color: #fff;
  border: 1px solid #aaa;
}

.text_red {
  color: #e55;
  border: 1px solid #e55;
}

.center {
  text-align: center;
}

.width_80 {
  width: 80%;
}

.checkbox {
  width: 20px;
  margin-left: 20px;
}

.select_tz {
  font-size: 18px;
  color: #111;
}

.input_file {
  font-size: 18px;
}

.btn-link {
  background-color: #e71;
  background-image: linear-gradient(180deg, #f71 0, #e50);
  border-color: #e60 #e50 #e50;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  width: 250px;
  height: 40px;
}

.btn-submit {
  background-color: #e71;
  background-image: linear-gradient(180deg, #f71 0, #e50);
  border-color: #e60 #e50 #e50;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  width: 250px;
  height: 40px;
}

.pollen {
  display: block;
  z-index: 999999;
  pointer-events: none;
  position: fixed;
  top: 0;
}
